/*
Flaticon icon font: Flaticon
Creation date: 02/10/2020 07:54
*/

@font-face {
font-family: "Flaticon";
src: 	url("../fonts/flaticon/Flaticon.eot");
src: 	url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
		url("../fonts/flaticon/Flaticon.woff2") format("woff2"),
		url("../fonts/flaticon/Flaticon.woff") format("woff"),
		url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
		url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
	}
}

.fi:before{
	display: inline-block;
	font-family: "Flaticon";
	font-style: normal;
	font-weight: inherit;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-youtube:before { content: "\f101"; }
.flaticon-instagram:before { content: "\f102"; }
.flaticon-vk:before { content: "\f103"; }

$font-Flaticon-facebook: "\f100";
$font-Flaticon-youtube: "\f101";
$font-Flaticon-instagram: "\f102";
$font-Flaticon-vk: "\f103";
