@font-face {
	font-family: 'GolosTextWebRegular';
	src: 	url('../fonts/Golos/Golos Text_Regular.eot');
	src:
			url('../fonts/Golos/Golos Text_Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Golos/Golos Text_Regular.woff2') format('woff2'),
			url('../fonts/Golos/Golos Text_Regular.woff') format('woff'),
			url('../fonts/Golos/Golos Text_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebBold';
	src: 	url('../fonts/Golos/Golos Text_Bold.eot');
	src:
			url('../fonts/Golos/Golos Text_Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Golos/Golos Text_Bold.woff2') format('woff2'),
			url('../fonts/Golos/Golos Text_Bold.woff') format('woff'),
			url('../fonts/Golos/Golos Text_Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebDemiBold';
	src: 	url('../fonts/Golos/Golos Text_DemiBold.eot');
	src:
			url('../fonts/Golos/Golos Text_DemiBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Golos/Golos Text_DemiBold.woff2') format('woff2'),
			url('../fonts/Golos/Golos Text_DemiBold.woff') format('woff'),
			url('../fonts/Golos/Golos Text_DemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebMedium';
	src: 	url('../fonts/Golos/Golos Text_Medium.eot');
	src:
			url('../fonts/Golos/Golos Text_Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Golos/Golos Text_Medium.woff2') format('woff2'),
			url('../fonts/Golos/Golos Text_Medium.woff') format('woff'),
			url('../fonts/Golos/Golos Text_Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GolosTextWebVF';
	src: 	url('../fonts/Golos/Golos Text_VF.eot');
	src:
			url('../fonts/Golos/Golos Text_VF.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Golos/Golos Text_VF.woff2') format('woff2'),
			url('../fonts/Golos/Golos Text_VF.woff') format('woff'),
			url('../fonts/Golos/Golos Text_VF.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
