$transitionMain: 0.5s;
$colorMain: #0061D9;
$colorLink: #1D4293;
$colorTextMain: #333333;
$colorRed: #D51A1A;
$colorStrokeField: #A7A7AB;
$colorTextInfo: #76767A;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
	height: 100%;
}
body {
	font-family: "GolosTextWebRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
}
/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	.content {
		flex: 1 0 auto;
		overflow-x: hidden;
	}
	.footer {
		flex: 0 0 auto;
	}
}



iframe, img {
	display: block;
}
h1, h2, h3, h4 {
	font-family: "GolosTextWebDemiBold";
	font-weight: bold;
	color: #000;
}
h1 {
	font-size: 44px;
	line-height: 60px;
}
h2 {
	font-size: 30px;
	line-height: 36px;
}
h3, .h3 {
	font-size: 22px;
	line-height: 28px;
}
h4 {
	font-size: 16px;
	line-height: 24px;
}

p {
	font-size: 16px;
	line-height: 120%;
	color: $colorTextMain;
	margin-bottom: 40px;
}

ul, ol {
	padding-left: 24px;
	li {
		color: $colorTextMain;
		font-size: 16px;
		line-height: 120%;
		margin-bottom: 22px;
		&:last-child {
			margin: 0px;
		}
	}
	ul, ol {
		padding-top: 12px;
	}
}
.info-block {
	padding: 34px 170px 41px 43px;
	background-color: #F5F5F7;

	.info-block-circle {
		min-width: 50px;
		min-height: 50px;
		max-width: 50px;
		max-height: 50px;
		border-radius: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 24px;
	}

	p {
		font-family: "GolosTextWebMedium";
		font-size: 30px!important;;
		line-height: 36px;
		color: $colorTextInfo!important;
		margin-bottom: 12px!important;
		&:last-child {
			margin: 0px!important;
		}
	}

	@media (max-width: 1200px) {
		padding: 30px;
	}
	@media (max-width: 991px) {
		padding: 15px;
	}
	&.info-block_warning {
		background-color: #FFF5D9;
		padding: 28px 60px 21px 27px;

		.info-block-circle {
			background-color: rgba(255, 184, 91, 0.2);
			color: rgba(255, 149, 0, 1);
		}

		p {
			font-family: "GolosTextWebRegular";
			color: #252C47!important;;
			font-size: 16px!important;
			line-height: 24px;

		}

		@media (max-width: 991px) {
			padding: 15px;
		}
	}
}

.font-14 {
	font-size: 14px;
	line-height: 24px;
}
.title-page {
	font-family: "GolosTextWebDemiBold";
	font-size: 30px;
	line-height: 36px;
	color: #000;

	position: relative;
	&:before {
		background: url("../images/title-before.svg") no-repeat center;
		width: 22px;
		height: 14px;
		position: absolute;
		content: "";
		left: -34px;
		top: 12px;
	}
	span {
		font-family: "GolosTextWebRegular";
	}
}
.bg-gray {
	background-color: #F5F5F7;
}

.border-top-1 {
	border-top: 1px solid #E5E5EB;
}

.table {
	margin-bottom: 20px;
	td,th {
		font-size: 16px;
		line-height: 120%;
		padding: 24px 10px 32px 10px;
		color: $colorTextMain;
	}
	thead {
		th {
			font-family: "GolosTextWebDemiBold";
			background-color: #D9D9DE;
		}
	}
	tbody {
		td {
			font-family: "GolosTextWebRegular";
		}
	}
}
.slick-slide {
	margin: 0 15px;
}
/* the parent */
.slick-list {
	margin: 0 -15px;
}
.slick-arrow {
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #F5F5F7;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	z-index: 2;
	left: -63px;
	top: calc(50% - 20px);
	i {
		transition: $transitionMain;
		color: #707070;
	}
	&.arrow_right {
		left: unset;
		right: -63px;
		@media (max-width: 1200px) {
			right: -23px;
		}
	}
	&.arrow_left {
		transform: scale(-1, 1);
		@media (max-width: 1200px) {
			left: -23px;
		}
	}
	&:hover {
		background-color: #004EAE;
		transition: $transitionMain;
		i {
			color: #fff;
			transition: $transitionMain;
		}
	}
}
