.form {
	input, textarea {
		padding: 13px 22px;
		background-color: #fff;
		border: 1px solid #D9D9DE;
		border-radius: 4px;

		font-size: 16px;
		line-height: 120%;
		color: $colorTextMain;
		&::-moz-placeholder 			{ color: $colorTextMain; }
		&::-webkit-input-placeholder 	{ color: $colorTextMain; }
		&:-ms-input-placeholder 		{ color: $colorTextMain; }
		&::-ms-input-placeholder 		{ color: $colorTextMain; }
		&::placeholder 					{ color: $colorTextMain; }
	}
	textarea {
		height: 219px;
	}
	.form-group {
		label {
			font-size: 14px;
			line-height: 120%;
			color: $colorStrokeField;
			margin-bottom: 8px;
		}
	}
	.form-check {
		display: flex;
		align-items: center;
		.form-check-input {
			cursor: pointer;
			position: unset;
			margin-top: 0px;
			margin-right: 12px;
			width: 18px;
			height: 18px;
		}
		.form-check-label {
			font-size: 14px;
			line-height: 120%;
			color: #000;
			a {
				font-size: inherit;
				color: $colorMain;
				transition: $transitionMain;
				&:hover {
					color: $colorRed;
					text-decoration: none;
					transition: $transitionMain;
				}
			}
		}
	}
}
.form-group {

}
