.btn {
	border: 0px;

	border-radius: 4px;
	padding: 12px 28px;
	background-color: $colorMain;

	font-family: "GolosTextWebRegular";
	font-size: 14px;
	line-height: 120%;
	color: #fff;

	transition: $transitionMain;

	&:hover {
		color: #fff;
		background-color: #004EAE;
		transition: $transitionMain;
	}

	&.btn_secondary {
		border: 2px solid #B3CBE8;
		background: none;
		color: $colorMain;
		&:hover {
			border: 2px solid $colorMain;
			background-color: #F2F6FB;
		}
	}
}

.btn-drop-menu {
	margin: 0px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #f5f5f7;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $colorMain;
	i {
		display: block;
		transform: rotate(-90deg);
		transition: $transitionMain;
	}
	&.collapsed {
		i {
			transform: rotate(90deg);
			transition: $transitionMain;
		}
	}
}
.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		color: #fff;
		font-size: 16px;
		width: 50px;
		height: 50px;
		background-color: $colorRed;
		border-radius: 100%;
		transform: rotate(-90deg);
	}
}
