@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?ug53w8');
	src:  url('../fonts/icomoon/icomoon.eot?ug53w8#iefix') format('embedded-opentype'),
			url('../fonts/icomoon/icomoon.ttf?ug53w8') format('truetype'),
			url('../fonts/icomoon/icomoon.woff?ug53w8') format('woff'),
			url('../fonts/icomoon/icomoon.svg?ug53w8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: inherit;

}
.icon-arrow {
	&.icon-arrow_left {
		transform: scale(-1, 1);
	}
}
.icon-checked:before {
  content: "\e901";
  color: inherit;
}
.icon-i:before {
  content: "\e902";
  color: inherit;
}
.icon-play:before {
  content: "\e903";
  color: inherit;
}
.icon-arrow1:before {
  content: "\e904";
  color: inherit;
}
.icon-search:before {
  content: "\e905";
  color: inherit;
}
.icon-facebook:before {
  content: "\e906";
  color: inherit;
}
.icon-instagram:before {
  content: "\e907";
  color: inherit;
}
.icon-vk:before {
  content: "\e908";
  color: inherit;
}
.icon-youtube:before {
  content: "\e909";
  color: inherit;
}
