.breadcrumb-block {
	padding: 21px 0px;
	border-top: 1px solid #E5E5EB;
	border-bottom: 1px solid #E5E5EB;
	background-color: #fff;

	.breadcrumb {
		padding: 0px;
		margin: 0px;
		background: none;
		.breadcrumb-item {
			font-family: "GolosTextWebRegular";
			font-size: 12px;
			margin-bottom: 0px;
			line-height: 120%;
			color: $colorTextInfo;
			a {
				color: $colorTextMain;
				font-size: inherit;
				line-height: inherit;

				transition: $transitionMain;
				&:hover {
					color: $colorRed;
					transition: $transitionMain;
					text-decoration: none;
				}
			}
		}
		.breadcrumb-item+.breadcrumb-item {
			padding-left: .2rem;
		}
		.breadcrumb-item+.breadcrumb-item::before {
			color: $colorTextMain;
			padding-right: .2rem;
		}
	}
	&.breadcrumb-block_style-2 {
		position: absolute;
		top: 0px;
		right: 0px;
		left: 0px;

		background: rgba(51,51,51,0.2);
		border: 0px;
		.breadcrumb {
			.breadcrumb-item {
				color: $colorStrokeField;
				a {
					color: $colorStrokeField;
				}
			}
		}
		.breadcrumb-item+.breadcrumb-item::before {
			color: $colorStrokeField;
		}
	}
}
