section(class="pt-94 pb-94")
	div(class="container")
		div(class="row")
			div(class="col-12")
				h2(class="mb-26")
					| Свяжитесь с нами
			div(class="col-12")
				form(class="form")
					div(class="row mb-24")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							<div class="form-group mb-24">
								<label for="inputEmail4">ФИО *</label>
								input(type="text" class="form-control w-100" placeholder="Введите ваше ФИО")
							</div>
							<div class="form-group mb-24">
								<label for="inputEmail4">Телефон*</label>
								input(type="text" class="form-control w-100" placeholder="+495 ХХХ ХХ ХХ ХХ")
							</div>
							<div class="form-group m-0">
								<label for="inputEmail4">Email *</label>
								input(type="email" class="form-control w-100" placeholder="example@example.ru")
							</div>
						div(class="col-12 col-lg-8 pb-4 pb-lg-0")
							<div class="form-group m-0">
								<label for="inputEmail4">Сообщение</label>
								textarea(class="form-control w-100" placeholder="Текст сообщения")
							</div>
					div(class="row align-items-center")
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="formCheck" checked>
								<label class="form-check-label" for="formCheck">Согласие на <a href="#">пользовательское соглашение</a></label>
							</div>
						div(class="col-12 col-lg-8 d-flex justify-content-end")
							button(type="submit" class="btn btn_zise-l")
								| Отправить заявку
