.footer {
	background-color: $colorTextMain;
	.footer-top {
		padding: 87px 0 90px 0px;
	}
	.footer-bottom {
		padding: 42px 0px;
		background-color: rgba(0,0,0,.2);
	}
	.footer-title, .footer-sub-title {
		display: block;
		font-family: "GolosTextWebDemiBold";
		font-size: 16px;
		line-height: 120%;
		color: $colorStrokeField;
		margin-bottom: 20px;
	}
	.footer-sub-title {
		font-size: 16px;
		margin: 0px 0px 4px 0px;
	}
	.footer-description {
		margin: 0px;
		font-family: "GolosTextWebRegular";
		color: $colorTextInfo;

		line-height: 120%;
		&.footer-description_14 {
			font-size: 14px;
		}
		&.footer-description_16 {
			font-size: 14px;
		}
		&.footer-description_w-50 {
			width: 50%;
			@media (max-width: 991px) {
				width: unset;
			}
		}
	}
	a.footer-description {
		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorRed;
			transition: $transitionMain;
		}
	}
	.footer-nav {
		padding: 0px;
		li {
			list-style: none;
			margin-bottom: 7px;
			a {
				font-family: "GolosTextWebRegular";
				font-size: 12px;
				line-height: 120%;
				color: $colorTextInfo;

				transition: $transitionMain;
				&:hover {
					color: $colorRed;
					transition: $transitionMain;
					text-decoration: none;
				}
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
}

.footer-link {
	font-family: "GolosTextWebRegular";
	font-size: 12px;
	line-height: 100%;
	color: $colorTextInfo;
	transition: $transitionMain;
	&:hover {
		color: $colorRed;
		text-decoration: none;
		transition: $transitionMain;
	}
}

.copyright {
	display: block;
	margin: 0px 0px 0px 22px;

	font-family: "GolosTextWebRegular";
	font-size: 12px;
	line-height: 100%;
	color: $colorTextInfo;
}
