.pagination {
	&.pagination-lg {
		.page-item {
			.page-link {
				width: 60px;
				height: 57px;

				display: flex;
				align-items: center;
				justify-content: center;

				font-family: "GolosTextWebRegular";
				font-size: 14px;
				line-height: 120%;
				color: $colorTextMain;
			}
			&.active {
				.page-link {
					color: #fff;
				}
			}
			&.page-item_prev {
				.page-link {
					color: $colorMain;
					width: unset;
				}
			}
			&.page-item_next {
				.page-link {
					color: $colorMain;
					width: unset;
				}
			}
		}

	}
}
