- var phone = "+7 965 538 21 02";
- var menuItems = ["О НАС", "СОБЫТИЯ", "О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ", "ГАЛЕРЕЯ", "ДОКУМЕНТЫ", "КОНТАКТЫ"];


doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title Дом народов России
	body
		div(class="page")
			header(class="header")
				div(class="header-top")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-6 d-flex align-items-center justify-content-between justify-content-lg-start")
								a(href="#" class="logo")
									img(class="lazyload img-fluid" data-src="images/logo.svg" alt="logo")
								p(class="header-description d-none d-lg-block")
									| Официальный сайт федерального государственного<br>бюджетного учреждения «Дом народов России»
								button(class="btn__menu d-lg-none")
									svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
										path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
										path(class="line middle" d="m 30,50 h 40")
										path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
							div(class="col-6 d-none d-lg-flex align-items-center justify-content-end")
								div(class="header-view-btn")
									span
										| Дома народов России
									span(class="text-rare")
										| Информационный портал
								div(class="social")
									a(class="social__link icon-youtube" href="#")
									a(class="social__link icon-facebook" href="#")
									a(class="social__link icon-instagram" href="#")
									a(class="social__link icon-vk social__link_18" href="#")
				div(class="header-bottom d-none d-lg-block")
					div(class="container")
						div(class="row")
							div(class="col-12 d-flex justify-content-between align-items-center")
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link active")
										| О НАС
									div(class="navigation-link-hid")
										div(class="row")
											div(class="col-6 d-flex flex-column align-items-start")
												each item,index in ["ФГБУ «Дом народов России»", "Учредитель", "Руководство", "Структура"]
													if index == 0
														a(href="#" class="active") #{item}
													else
														a(href="#") #{item}
											div(class="col-6 d-flex flex-column align-items-start")
												each item in ["ФГБУ «Дом народов России»", "Учредитель", "Руководство", "Структура"]
													a(href="#") #{item}
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link")
										| СОБЫТИЯ
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link")
										| О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link")
										| ГАЛЕРЕЯ
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link")
										| ДОКУМЕНТЫ
								div(class="navigation-link-wrapper")
									a(href="#" class="navigation-link mr-0")
										| КОНТАКТЫ
								a(class="header-search" href='#')
									i(class="icon-search")
			div(class="mobile-menu")
				div(class="mobile-menu-content")
					div()
						div(class="mobile-menu__close")
							
						a(href="#" class="logo")
							img(class="lazyload" data-src="images/logo.svg" alt="img")
					div(class="pt-20 d-flex flex-column")
						div(class="d-flex flex-column")
							div(class="d-flex align-items-center justify-content-between")
								a(href="#")
									|  О НАС
								a( class="btn-drop-menu collapsed m-0" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu")
									i(class="icon-arrow")
							div(class="collapse" id="collapseMenu")
								div(class="d-flex flex-column pb-10")
									each item,index in ["ФГБУ «Дом народов России»", "Учредитель", "Руководство", "Структура", "ФГБУ «Дом народов России»", "Учредитель", "Руководство", "Структура"]
										if index == 0
											a(href="#" class="active") #{item}
										else
											a(href="#") #{item}
						a(href="#")
							| СОБЫТИЯ
						a(href="#")
							| О НАЦИОНАЛЬНОЙ ПОЛИТИКЕ
						a(href="#")
							| ГАЛЕРЕЯ
						a(href="#")
							| ДОКУМЕНТЫ
						a(href="#")
							| КОНТАКТЫ
			div(class="content")
				block content
			footer(class="footer")
				div(class="footer-top")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-3 pb-4 pb-lg-0")
								div(class="pb-50")
									span(class="footer-title")
										| Контактная информация
									div(class="d-flex flex-column pb-20")
										span(class="footer-sub-title")
											| Адрес:
										span(class="footer-description footer-description_14 footer-description_w-50")
											| 129090, Москва, ул. Щепкина, д. 22
									div(class="d-flex flex-column pb-20")
										span(class="footer-sub-title")
											| Телефон:
										a(class="footer-description footer-description_14 footer-description_w-50" href="tel:88004353465")
											| 8 800 435 34 65
									div(class="d-flex flex-column")
										span(class="footer-sub-title")
											| E-mail:
										a(class="footer-description footer-description_14 footer-description_w-50" href="mailto:info@domnarodov.ru")
											| info@domnarodov.ru
								div(class="social")
									a(class="social__link social__link_footer icon-facebook" href="#")
									a(class="social__link social__link_footer icon-instagram" href="#")
									a(class="social__link social__link_footer icon-vk social__link_18" href="#")
							div(class="col-12 col-lg-3 pb-4 pb-lg-0")
								div(class="pb-24")
									span(class="footer-title")
										| О нас
									ul(class="footer-nav")
										each item in ["ФГБУ «Дом народов России»", "Учредитель", "Руководство", "Структура", "Цели и задачи", "Отчеты о результатах деятельности", "Сотрудничество", "Новости партнеров"]
											li()
												a(href="#") #{item}
								div
									span(class="footer-title")
										| Галерея
									ul(class="footer-nav")
										each item in ["Фото", "Видео"]
											li()
												a(href="#") #{item}
							div(class="col-12 col-lg-3 pb-4 pb-lg-0")
								div(class="pb-24")
									span(class="footer-title")
										| О национальной политике
									ul(class="footer-nav")
										each item in ["Нормативно-правовые документы", "Организации"]
											li()
												a(href="#") #{item}
								div
									span(class="footer-title")
										| События
									ul(class="footer-nav")
										each item in ["Новости", "Анонсы", "Календарь мероприятий", "СМИ о нас"]
											li()
												a(href="#") #{item}
							div(class="col-12 col-lg-3")
								div(class="pb-24")
									span(class="footer-title")
										| Документы
									ul(class="footer-nav")
										each item in ["Устав", "Государственное задание", "Приказы", "Положения", "Планы", "Нормативно-правовые акты", "Соглашения", "Противодействие коррупции", "Отчеты"]
											li()
												a(href="#") #{item}
								div
									span(class="footer-title")
										| Контакты
				div(class="footer-bottom")
					div(class="container")
						div(class="row")
							div(class="col-12 col-lg-6 d-flex align-items-center pb-4 pb-lg-0")
								a(href="#" class="logo")
									img(class="lazyload img-fluid" data-src="images/logo-footer.svg" alt="logo")
								span(class="copyright")
									| © 2020 ФГБУ «Дом народов России»
							div(class="col-12 col-lg-6 d-flex flex-column align-items-center flex-lg-row justify-content-lg-end")
								a(class="footer-link mr-lg-4 mb-2 mb-lg-0" href="#")
									| Политика конфиденциальности
								a(class="footer-link" href="#")
									| Пользовательское соглашение
		div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
			div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-header")
						span
							| Форма заявки
					div(class="modal-body")
						form(class="form")
							input(type="text" placeholder="Имя*")
							input(type="tel" class="my-4" placeholder="Телефон*")
							div(class="d-flex align-items-start justify-content-center py-3 pb-4")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							div(class="d-flex justify-content-center w-100")
								button(class="btn btn__flare" type="submit" )
									| Записаться
		div(class="btn-to-top")
			div(class="btn-to-top__content d-flex justify-content-center align-items-center")
				i(class="icon-arrow")
		script(src="js/main.min.js")
