extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Контакты</li>
							</ol>
						</nav>
	section(class="pt-82 pb-105")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-35")
					h1(class="title-page mb-4 mb-lg-0")
						| Контактная информация
					a(class="btn btn_secondary" href="#" onclick="window.print();")
						| Версия для печати
				div(class="col-12")
					p(class="pb-20")
						| Провела мастер-класс Ильина Туяна – журналист, художник, поэт. Туяна работала в пресс-службах Института экономики переходного период им. Е. Гайдара и Федерального агентства по культуре и кинематографии.
					div(class="map pb-66")
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.9218519462615!2d37.626842216089386!3d55.77722909757505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a7275feb0bd%3A0xef1070f2dd839cf3!2z0YPQuy4g0KnQtdC_0LrQuNC90LAsIDIyLCDQnNC-0YHQutCy0LAsIDEyOTA5MA!5e0!3m2!1sru!2sru!4v1601963252074!5m2!1sru!2sru" width="100%" height="455" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			div(class="row")
				div(class="col-12 col-lg-3 pb-4 pb-lg-0")
					p(class="mb-2")
						| Почтовый адрес:
					p(class="m-0")
						| Москва, ул. Щепкина, д. 22
				div(class="col-12 col-lg-2 offset-lg-1 pb-4 pb-lg-0")
					p(class="mb-2")
						| Телефон/Факс:
					a(href="tel:88004353465" class="contacts-phone")
							| 8 800 435 34 65
				div(class="col-12 col-lg-3 d-flex flex-column justify-content-center pb-4 pb-lg-0")
					p(class="mb-2")
						|  Режим работы:
					p(class="m-0")
						|Пн-Пт: 10:00 - 20:00
				div(class="col-12 col-lg-3 pb-4 pb-lg-0")
					p(class="mb-2")
						| Электронный адрес
					a(href="#" class="contacts-mail")
						| info@domnarodov.ru
	include components/message.pug
