extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Мероприятия</li>
							</ol>
						</nav>
	section(class="pt-82 pb-105")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="title-page mb-35")
						| Мероприятия
				div(class="col-12 col-lg-8 order-2 order-lg-1")
					div(class="row")
						- for (var i = 0; i < 10; i++)
							div(class="col-12 col-lg-6 pb-36")
								div(class="event-block")
									img(class="lazyload" data-src="images/event.jpg" alt="img")
									div(class="event-content")
										div(class="d-flex align-items-center justify-content-between pb-19")
											span(class="event-date")
												| 09 сентября 2020, 11:00
										a(class="event-title mb-22" href="#")
											| Цикл прямых эфиров «Интервью с профессионалом»
										p(class="event-description mb-30")
											| ООО «Ассамблея народов России». Научно-практическая конференция «Роль домов дружбы в развитии этнокультурного диалога ...
										a(class="btn" href="#")
											| Подробнее
						div(class="col-12 d-flex justify-content-center")
							<nav aria-label="...">
								<ul class="pagination pagination-lg">
									<li class="page-item page-item_prev disabled">
										<span class="page-link d-flex align-items-center">
											<i class="icon-arrow icon-arrow_left"></i>
											<span class="ml-12 d-none d-lg-block">Предыдущая</span>
										</span>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><span class="page-link">2</span></li>
									<li class="page-item disabled"><span class="page-link">...</span></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item page-item_next">
										<a class="page-link" href="#">
											<span class="mr-12 d-none d-lg-block">Следующая</span>
											<i class="icon-arrow"></i>
										</a>
									</li>
								</ul>
							</nav>
				div(class="col-12 col-lg-4 order-1 order-lg-2 pb-4 pb-lg-0")
					form()
						div(id="datepicker")
						input(type="hidden" id="datepicker_value" value="07.10.2020")
	include components/message.pug
