extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Галерея</li>
							</ol>
						</nav>
	section(class="pt-82 pb-105")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1(class="title-page mb-35")
						| Галерея
						span
							|  Дома народов
				div(class="col-12 d-flex flex-wrap align-items-center pb-25")
					each item,index in ["Презентация 2020", "Выставка МХАТ", "Дома народов", "Дома народов", "Интервью", "Симпозиум 2020"]
						-if(index == 1)
							a(class="gallery-category-item active" href="#") #{item}
						-else
							a(class="gallery-category-item" href="#") #{item}
				div(class="col-12")
					div(class="row")
						- for (var i = 0; i < 10; i++)
							div(class="col-12 col-md-6 col-lg-4 pb-36")
								a(class="gallery-category-link" href="#")
									div(class="preview" href="#")
										img(class="lazyload" data-src="images/image 9.png" alt="img")
									div(href="#" class="title")
										| Мишустин выступил на открытии Московского финансового форума
					div(class="col-12 d-flex justify-content-center")
						<nav aria-label="...">
							<ul class="pagination pagination-lg">
								<li class="page-item page-item_prev disabled">
									<span class="page-link d-flex align-items-center">
										<i class="icon-arrow icon-arrow_left"></i>
										<span class="ml-12 d-none d-lg-block">Предыдущая</span>
									</span>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item active"><span class="page-link">2</span></li>
								<li class="page-item disabled"><span class="page-link">...</span></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-item_next">
									<a class="page-link" href="#">
										<span class="mr-12 d-none d-lg-block">Следующая</span>
										<i class="icon-arrow"></i>
									</a>
								</li>
							</ul>
						</nav>
