extends base.pug
block content
	section(class="welcome-slider-block")
		div(class="container-fluid")
			div(class="row flex-lg-nowrap")
				div(class="col-12 col-lg-6 pr-lg-0 order-2 oreder-lg-1 d-flex justify-content-end")
					div(class="welcome-slider-left")
						h1(class="mb-27 h3")
							| Заседание Комиссии <br>по вопросам миграции 
						p(class="mb-25")
							| Провела мастер-класс Ильина Туяна – журналист, художник, поэт. Туяна работала в пресс-службах Института экономики переходного период им. Е. Гайдара и Федерального агентства по культуре и кинематографии. 
						a(class="btn" href="#")
							| Подробнее
				div(class="col-12 col-lg-7 pl-lg-0 order-1 order-lg-2 pb-4 pb-lg-0")
					div(class="welcome-slider")
						div(class="welcome-slide-bg" style="background-image: url('images/sl.png');")
						div(class="welcome-slide-bg" style="background-image: url('images/sl.png');")
	section(class="pt-97 pb-110")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-35")
					h2(class="title-page mb-4 mb-lg-0")
						| Анонсы мероприятий
					a(class="btn btn_secondary" href="#")
						| Все мероприятия
				div(class="col-12 col-lg-8")
					div(class="row")
						- for (var i = 0; i < 2; i++)
							div(class="col-12 col-lg-6 pb-36")
								div(class="event-block")
									img(class="lazyload" data-src="images/event.jpg" alt="img")
									div(class="event-content")
										div(class="d-flex align-items-center justify-content-between pb-19")
											span(class="event-date")
												| 09 сентября 2020, 11:00
											div(class="event-stream")
												span(class="event-stream-icon")
												span
													| Онлайн
										a(class="event-title mb-22" href="#")
											| Цикл прямых эфиров «Интервью с профессионалом»
										p(class="event-description mb-30")
											| ООО «Ассамблея народов России». Научно-практическая конференция «Роль домов дружбы в развитии этнокультурного диалога ...
										a(class="btn" href="#")
											| Подробнее
				div(class="col-12 col-lg-4 pb-36")
					form(class="h1-100")
						div(id="datepicker")
						input(type="hidden" id="datepicker_value" value="07.10.2020")
	section(class="pb-105")
		div(class="container")
			div(class="row align-items-lg-center")
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					img(class="lazyload w-100" data-src="images/aboutimg.png" alt="img")
				div(class="col-12 col-lg-6")
					h2(class="mb-25")
						| О нас
					p(class="font-14")
						| В 1998 году Правительством Москвы было принято решение об открытии Государственного учреждения «Дом народов Росии». 
					p(class="font-14")
						| Он был создан при Комитете межрегиональных связей и национальной политики города Москвы как центр этнокультурного развития москвичей различных национальностей, создающий условия для удовлетворения национально-культурных и национально-образовательных запросов, полноправного общественного и культурного развития всех народов.
					a(class="btn" href="#")
						| Подробнее
	section(class="pt-60 pb-87 bg-gray")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-28")
					h2(class="title-page  mb-4 mb-lg-0")
						| Галерея Дома народов
					a(class="btn btn_secondary" href="#")
						| Читать все новости
			div(class="row")
				- for (var i = 0; i < 3; i++)
					div(class="col-12 col-md-6 col-lg-4 pb-36")
						div(class="news-item")
							a(class="news-item-preview" href="#")
								img(class="lazyload" data-src="images/image 8.png" alt="img")
							span(class="news-item-date")
								| 8 сентября
							a(href="#" class="news-item-title")
								| Мишустин выступил на открытии Московского финансового форума
	section()
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="partners-slider")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part1.svg" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
						div(class="partners-slider__item")
							div(class="d-flex align-items-center justify-content-center")
								img(src="images/part2.png" alt="img")
	include components/message-no-border.pug
