extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block breadcrumb-block_style-2")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Страница новости</li>
							</ol>
						</nav>
	section(class="content-page")
		div(class="content-page-preview" style="background-image: url('images/previewtext.jpg');")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-5 offset-lg-2 pr-lg-0")
						span(class="date")
							| 22 сентября 2020
						h1
							| Заседание Комиссии по вопросам миграции
		div(class="content-page-info")
			div(class="container")
				div(class="row justify-content-center")
					div(class="col-12 col-lg-8")
						h2
							| Рост и становление Москвы
						p
							| Становление Москвы было медленным. Сменились три поколения потомков Юрия Долгорукова прежде, чем Москва вышла из тени древних городов Владимирско-Суздальской Руси, и начала приобретать черты крупного города, играющего важную роль в жизни русского государства. 
						h3
							| Москва - столица единого государства 
						p
							| В период правления великого князя Ивана III (1462-1505), Москва уже была столицей русского государства. Из-под ига Орды окончательно освободились земли Северо-Восточной Руси, Московская держава обрела независимость, и Иван III прилагал все усилия для того, чтобы превратить Москву в "Третий Рим". После того, как Иван III взял в жены племянницу последнего константинопольского императора, Софью Палеолог, символом московского самодержца становится византийский двуглавый орел. Его изображения появляются на княжеских печатях.
						h3
							| Современная Москва разделена на округа:
						p
							| 1 февраля 1995 г. был принят закон о флаге и гербе города Москвы. Герб Москвы представляет собой темно-красный геральдический щит, на котором изображен всадник – Святой Георгий Победоносец на серебряном коне в серебряных доспехах и голубом плаще, поражающий золотым копьем черного Змия. Согласно древнему преданию, Святой Георгий был римским воином родом из Лидии, который принял христианство в числе первых, а во время гонения на христиан, возглавляемых императором Рима Диоклетианом, Святой Георгий принял мученическую смерть за веру и был канонизирован церковью как Великомученик и Святой. Именно Святой Георгий был ангелом Юрия Долгорукого– основателя Москвы, т.е. был назван в его честь.
						div(class="content-slider")
							-for(var i = 0; i < 5; i++)
								div()
									img(class="w-100" src="images/sl.png" alt="img")
									span(class="description")
										| Городская Дума
						h3
							| Москва - столица единого государства
						p
							| Немаловажной сферой жизни людей является религия. Москва в этом плане очень толерантна. В городе зарегистрировано официально более 1000 религиозных объединений, представляющих более 50 направления различных вероисповеданий.
						p
							| В Москве представлены все основные мировые религии. Официально в городе зарегистрировано более 1000 религиозных объединений и организаций, которые представляют более 50 различных вероисповедных направлений.
	
						p 
							| Помимо разветвленной сети автобусных, троллейбусных и трамвайных маршрутов, в Москве перевозкой пассажиров занимаются маршрутные такси и такси. Основную же нагрузку несет московское метро. В Москве функционируют аэропорты: Домодедово, Шереметьево, Внуково и Быково, а также 9 ж/д вокзалов. В навигационный период по Москве-реке ходят речные трамваи и круизные теплоходы, а Южный порт принимает грузовые суда
						div(class="info-block mb-25")
							p
								| В свою очередь, округа делятся на муниципальные районы. Главный орган управления – городская Дума, которая выбирается раз в 4 года. В состав Думы входят 450 депутатов.
						p
							| Москва и поныне является театральной столицей России. В Москве работает более полутора сотен театров, среди которых и всемирно известные, такие как Большой театр, и небольшие частные театры-студии и экспериментальные театры.

						p
							| Огромное количество музеев, существующих в Москве уступает только таким крупным городам как Нью-Йорк и Мадрид. Самые крупные музеи Москвы: Государственный музей изобразительных искусств им. А. С. Пушкина и Третьяковская галерея.
						p
							| Кроме того, Москва является крупным научным и промышленным центром. Особенно активное развитие научные отрасли получили в советский период. Именно тогда в Москве появилось множество НИИ, которые занимаются изысканиями в области ядерной энергетики, микроэлектроники, космонавтики.
	section(class="pt-80 pb-70 bg-gray")
		div(class="container")
			div(class="row")
				div(class="col-12 d-lg-flex justify-content-lg-between align-items-lg-center mb-28")
					h2(class="title-page  mb-4 mb-lg-0")
						| Галерея Дома народов
					a(class="btn btn_secondary" href="#")
						| Читать все новости
			div(class="row")
				- for (var i = 0; i < 3; i++)
					div(class="col-12 col-md-6 col-lg-4 pb-36")
						div(class="news-item news-item_around")
							a(class="news-item-preview" href="#")
								img(class="lazyload" data-src="images/event.jpg" alt="img")
							span(class="news-item-date")
								| 8 сентября
							a(href="#" class="news-item-title")
								| Мишустин выступил на открытии Московского финансового форума
