extends base.pug
block content
	section(class="position-relative")
		div(class="breadcrumb-block breadcrumb-block_style-2")
			div(class="container")
				div(class="row")
					div(class="col-12")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Страница новости</li>
							</ol>
						</nav>
	section(class="content-page")
		div(class="content-page-preview" style="background-image: url('images/previewtext.jpg');")
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-5 offset-lg-2 pr-lg-0")
						span(class="date")
							| 22 сентября 2020
						h1
							| Заседание Комиссии по вопросам миграции
		div(class="content-page-info")
			div(class="container")
				div(class="row justify-content-center")
					div(class="col-12 col-lg-8")
						h1
							| заголовок h1
						h2
							| заголовок h2
						h3
							| заголовок h3
						h4
							| заголовок h4
						h5
							| заголовок h5
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						ul
							li
								| элемент ul li 1
							li
								| элемент ul li 2
							li
								| элемент ul li 3
						ol
							li
								| элемент ol li 1
							li
								| элемент ol li 2
							li
								| элемент ol li 3
						div(class="info-block mb-60")
							p
								| В свою очередь, округа делятся на муниципальные районы. Главный орган управления – городская Дума, которая выбирается раз в 4 года. В состав Думы входят 450 депутатов.
						div(class="info-block info-block_warning d-flex mb-60")
							div(class="info-block-circle")
								i(class="icon-i")
							div(class="ml-24")
								p
									| title
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						ol
							li
								| элемент ol li 1
								ol
									li
										| элемент ol li 1.1
									li
										| элемент ol li 1.2
									li
										| элемент ol li 1.3
										ol
											li
												| элемент ol li 1.1.1
											li
												| элемент ol li 1.2.2
											li
												| элемент ol li 1.3.3
							li
								| элемент ol li 2
							li
								| элемент ol li 3
						<table class="table table-borderless">
							<thead>
								<tr>
									<th scope="col">Наименование</th>
									<th scope="col">2016, 9 мес.</th>
									<th scope="col">2017, 9 мес.</th>
									<th scope="col">2018, 9 мес.</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">Производительность труда</td>
									<td>6 542 003</td>
									<td>Не может быть рассчитано</td>
									<td>Не может быть рассчитано</td>
								</tr>
								<tr>
									<td scope="row">Отношение размера задолженности </td>
									<td>3,33</td>
									<td>3,33</td>
									<td>@3,33</td>
								</tr>
								<tr>
									<td scope="row">Производительность труда</td>
									<td>0,74</td>
									<td>0,74</td>
									<td>0,74</td>
								</tr>
								<tr>
									<td scope="row">Уровень просроченной задолженности, %</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
