/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "library/jquery.fancybox.css";
@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery-ui.css";


@import "fonts/_fonts";
@import "indent/_indent";
@import "icomoon/_icon";
@import "font-flaticon/_flaticon";
@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";
@import "pagination/_pagination";
@import "form/_form";
@import "content-page/_content";

.welcome-slider-block {
	background: #F5F5F7;
	overflow: hidden;
	.welcome-slider-left {
		max-width: 560px;
		height: 402px;
		padding: 90px 82px 100px 0;
		position: relative;
		z-index: 2;

		&:before {
			position: absolute;
			content: "";
			top: -100%;
			bottom: -100%;
			left: calc(100% - 90px);
			width: 180px;
			background: linear-gradient(90deg,  #F5F5F7 0px,  #F5F5F7 50%, #E5E5EB 50%);
			// background-color: #E5E5EB;
			transform: rotate(15deg);
			z-index: 2;
			outline: 1px solid transparent;
			@media (max-width: 991px) {
				display: none;
			}
		}
		p {
			color: $colorTextInfo;
			font-size: 14px;
		}
		@media (max-width: 991px) {
			padding: 15px 0px;
			height: unset;
		}
	}
	.welcome-slider {
		position: relative;
		z-index: 1;
		.slick-slide {
			&  div {
				display: block!important;
			}
		}
		.welcome-slide-bg {
			min-height: 402px;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}
.event-block {
	position: relative;
	overflow: hidden;

	img {
		transition: $transitionMain;
		width: 100%;
	}

	.event-content {
		background-color: rgba(51,51,51, 0.6);
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;

		padding: 28px 34px 43px 34px;

		.event-date {
			font-family: "GolosTextWebRegular";
			font-size: 12px;
			line-height: 120%;
			color: #fff;
			margin: 0px;
		}
		.event-stream {
			display: flex;
			align-items: center;
			padding: 8px 10px;
			border-radius: 4px;
			background-color: #D42D1E;

			color: #fff;
			font-size: 12px;
			line-height: 120%;
			.event-stream-icon {
				display: block;
				min-width: 6px;
				min-height: 6px;
				max-width: 6px;
				max-height: 6px;
				background-color: #fff;
				border-radius: 100%;
				margin-right: 9px;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: -3px;
					right: -3px;
					bottom: -3px;
					left: -3px;
					border: 1px solid rgba(255, 255, 255, 0.4);
					border-radius: 100%;
					animation: event-stream-circle 2s infinite;
				}

				@keyframes event-stream-circle {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(0.4);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
		.event-title {
			font-family: "GolosTextWebDemiBold";
			font-size: 18px;
			line-height: 24px;
			color: #fff;
			// height: 48px;

			transition: $transitionMain;

			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			-ms-line-clamp: 2;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			display: -webkit-box;
			display: box;
			word-wrap: break-word;
			-webkit-box-orient: vertical;
			box-orient: vertical;

			&:hover {
				text-decoration: none;
				color: $colorRed;
				transition: $transitionMain;
			}
		}
		.event-description {
			font-family: "GolosTextWebRegular";
			font-size: 14px;
			line-height: 20px;
			color: #fff;
			// height: 64px;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			-ms-line-clamp: 4;
			-webkit-line-clamp: 4;
			line-clamp: 4;
			display: -webkit-box;
			display: box;
			word-wrap: break-word;
			-webkit-box-orient: vertical;
			box-orient: vertical;
		}
		@media (min-width: 992px) and (max-width: 1200px) {
			padding: 8px 15px;
		}
	}


	&:hover {
		img {
			transition: $transitionMain;
			transform: scale(1.1);
		}
	}
}










.news-item {
	.news-item-preview {
		display: block;
		margin-bottom: 27px;
		overflow: hidden;

		img {
			width: 100%;
			transition: $transitionMain;
		}
		&:hover {
			img {
				transform: scale(1.1);
				transition: $transitionMain;
			}
		}
	}
	.news-item-date {
		display: block;
		margin-bottom: 8px;

		font-size: 12px;
		line-height: 120%;
		color: $colorTextInfo;
	}
	.news-item-title {
		display: block;

		font-family: "GolosTextWebDemiBold";
		color: $colorLink;
		font-size: 16px;
		line-height: 120%;
		transition: $transitionMain;
		// margin-bottom: 40px;
		&:hover {
			text-decoration: none;
			transition: $transitionMain;
			color: $colorRed;
		}
	}
	&.news-item_around {
		.news-item-preview {
			border-radius: 4px;
		}
	}
}






.gallery-category-item {
	display: block;

	background-color: #F5F5F7;
	border: 0px;

	border-radius: 4px;
	padding: 12px 28px;
	margin-right: 10px;
	margin-bottom: 10px;


	font-family: "GolosTextWebRegular";
	font-size: 14px;
	line-height: 120%;
	color: $colorTextMain;

	transition: $transitionMain;

	&:hover {
		color: #fff;
		background-color: #004EAE;
		transition: $transitionMain;
		text-decoration: none;
	}
	&.active {
		background-color: $colorMain;
		color: #fff;
	}
}
.gallery-category-link {
	display: block;
	padding-bottom: 24px;
	.preview {
		overflow: hidden;
		margin-bottom: 23px;
		img {
			width: 100%;
			transition: $transitionMain;
		}
	}
	.title {
		font-family: "GolosTextWebDemiBold";
		color: $colorTextMain;
		font-size: 16px;
		line-height: 120%;
	}

	&:hover {
		text-decoration: none;
		.preview {
			img {
				transform: scale(1.1);
				transition: $transitionMain;
			}
		}
		.title {
		}
	}
}











.contacts-phone {
	font-size: 16px;
	line-height: 120%;
	color: $colorTextMain;
	transition: $transitionMain;
	&:hover {
		color: $colorRed;
		transition: $transitionMain;
		text-decoration: none;
	}
}

.contacts-mail {
	font-size: 16px;
	line-height: 120%;
	color: $colorMain;
	transition: $transitionMain;
	&:hover {
		color: $colorRed;
		transition: $transitionMain;
		text-decoration: none;
	}
}



.partners-slider {
	margin-top: -40px;
	.slick-list {
		padding-bottom: 20px;

	}
	.slick-arrow {
		top: calc(50% - 30px);
		i {
			color: $colorMain;
		}
		&:hover {
			i {
				color: #fff;
			}
		}
	}
	.slick-slide {
		& > div {
			height: 170px;
		}
	}
	.partners-slider__item {
		box-shadow: 0px 3px 20px rgba(0,0,0,0.08);
		height: 100%;
		padding: 30px 10px;
		background-color: #fff;
	}
}


#datepicker {
	.ui-widget.ui-widget-content {
		width: 100%;
		max-width: 372px;
		border: 0px;
		background: #F5F5F7;
		padding: 31px 25px;
		border-radius: 0px;
		@media (min-width: 992px) and (max-width: 1200px) {
			padding: 8px 15px;
		}
	}
	.ui-datepicker .ui-datepicker-header {
		border: 0px;
		border-radius: 0px;
		background: none;

		font-family: "GolosTextWebDemiBold";
		font-size: 16px;
		line-height: 120%;
		color: #000;
		padding: 0px;
	}
	.ui-datepicker th {
		font-size: 14px;
		color: $colorStrokeField;

		width: 32px;
		height: 32px;
		border-radius: 4px;
		border: 0px;

	}
	td {
		.ui-state-default {
			font-size: 14px;
			line-height: 120%;
			color: $colorTextInfo;

			width: 32px;
			height: 32px;
			border-radius: 4px;
			border: 0px;

			display: flex;
			justify-content: center;
			align-items: center;

			border: 1px solid transparent;
			&.ui-state-active {
				border: 1px solid #B3CBE8!important;
				background: none!important;
				color: $colorMain!important;
			}
			&.ui-state-highlight {
				background: none;
			}
		}
		&.event-now {
			.ui-state-default {
				color: #fff;
				background-color: $colorMain;
				border: 1px solid transparent;
			}
		}
	}

	.ui-corner-all {
		&.ui-datepicker-prev, &.ui-datepicker-next {
			cursor: pointer;
			width: 40px;
			height: 40px;
			background-color: #fff;
			border: 0px;
			border-radius: 4px;

			color: $colorMain;

			&.ui-datepicker-next-hover,
			&.ui-datepicker-prev-hover{
				border: 0px!important;
			}

			.ui-icon {
				background: url("../images/date-ar.svg") no-repeat center;
			}
		}
		&.ui-datepicker-prev {
			.ui-icon {
				transform: scale(-1, 1);
				background: url("../images/date-ar.svg") no-repeat center;
			}
		}


	}
	.ui-datepicker-title {
		margin-bottom: 34.6px;
		@media (min-width: 992px) and (max-width: 1200px) {
			margin-bottom: 24px;
		}
	}
}
