
.header {
	background-color: #fff;
	top: -100%;
	&.header_scroll {
		position: fixed;
		z-index: 1001;
		top: 0px;
		right: 0px;
		left: 0px;

		transition: $transitionMain;

		.header-top {
			padding: 15px 0px;
			@media (max-width: 991px) {
				padding: 10px 0 8px 0px;
			}
		}
	}
}
.header-top {
	padding: 26px 0 20px 0;
	.logo {
		margin-left: -75px;
		@media (max-width: 1275px) {
			margin-left: 0px;
		}
	}
	@media (max-width: 991px) {
		padding: 15px 0 10px 0px;
	}
}
.logo {

}
.header-description {
	font-size: 14px;
	color: $colorStrokeField;
	margin-left: 28px;
	margin-bottom: 0px;
}
.header-view-btn {
	min-width: 219px;
	border: 2px solid $colorMain;
	border-radius: 4px;
	background-color: #fff;
	padding: 6px 19px;
	margin-right: 33px;

	span {
		font-family: "GolosTextWebDemiBold";
		font-size: 16px;
		line-height: 120%;
		color: $colorTextMain;
		margin: 0px;
		display: block;
		&.text-rare {
			font-family: "GolosTextWebRegular";
			font-size: 14px;
			color: $colorMain;
		}
	}
}
.social {
	display: flex;
	align-items: center;
	.social__link {
		width: 30px;
		height: 30px;
		color: #fff;
		background-color: #A7A7AB;
		border-radius: 100%;

		font-size: 16px;
		line-height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		margin-right: 20px;

		transition: $transitionMain;
		&:last-child {
			margin: 0px;
		}
		&:hover {
			background-color: $colorMain;
			transition: $transitionMain;
			text-decoration: none;
		}
		&.social__link_footer {
			color: #333;
			&:hover {
				color: #fff;
				transition: $transitionMain;
			}
		}
		&.social__link_18 {
			font-size: 18px;
		}
	}
}


.navigation-link {
	display: block;
	font-family: "GolosTextWebDemiBold";
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: $colorTextMain;
	line-height: 120%;
	padding: 20px 0px;
	margin-right: 85px;

	position: relative;

	transition: $transitionMain;

	&:before {
		position: absolute;
		content: "";
		bottom: 0px;
		right: 50%;
		left: 50%;
		height: 2px;
		background-color: $colorRed;

		transition: $transitionMain/2;
	}

	&.active {
		color: $colorRed;
		&:before {
			right: -20%;
			left: -20%;
		}
	}


	@media (max-width: 1200px) {
		margin-right: 40px;
	}
}

.navigation-link-wrapper {
	position: relative;
	.navigation-link-hid {
		position: absolute;
		z-index: -9999;
		opacity: 0;
		display: none;

		width: 640px;

		top: calc(100% - 14px);
		left: 0px;
		background-color: #fff;
		box-shadow: 0px 3px 20px rgba(0,0,0,0.08);
		padding: 15px 20px;

		transition: $transitionMain;

		a {
			padding: 13px;
			font-size: 14px;
			font-weight: normal;
			color: $colorTextMain;
			line-height: 120%;

			transition: $transitionMain;
			margin-bottom: 18px;
			&:hover {
				text-decoration: none;
				transition: $transitionMain;
				color: $colorRed;
				background-color: #F5F5F7;
			}
			&.active {
				color: $colorRed;
				background-color: #F5F5F7;
			}
		}
	}
	&:hover {
		.navigation-link-hid {
			z-index: 1000;
			display: block;
			opacity: 1;
			top: 100%;
			transition: $transitionMain;
		}
		.navigation-link {
			color: $colorRed;
			transition: $transitionMain;
			text-decoration: none;

			&:before {
				right: -20%;
				left: -20%;
				transition: $transitionMain/2;
			}
		}
	}
}

.header-search {
	padding: 18px 20px;
	font-size: 16px;
	transition: $transitionMain;
	color: $colorStrokeField;
	&:hover {
		background-color: rgba(0,0,0,0.1);
		transition: $transitionMain;
		color: $colorRed;
		text-decoration: none;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transform: scale(1.5);
}
.hamRotate.active {
	transform: rotate(45deg) scale(1.5);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: red;
	stroke-width: 5.5;
	stroke-linecap:round;
}
.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}
.btn__menu {
background: none;
border: none;
min-width: 40px;
min-height: 40px;
padding: 0;
cursor: pointer;
	&:focus {
		outline: none;
	}
}


.mobile-menu {
	position: fixed;
	z-index: 2000;
	top: 0px;
	right: -100%;
	bottom: 0px;
	left: 100%;
	overflow: hidden;

	background-color: rgba(0,0,0,0.7);

	transition: $transitionMain;

	display: flex;
	justify-content: flex-end;
	&.show {
		right: 0px;
		left: 0px;

		transition: $transitionMain;
	}
	.mobile-menu-content {
		width: 80%;
		max-width: 400px;
		background-color: #fff;
		padding: 15px 10px;
	}
	a {
		text-transform: uppercase;
		font-family: "GolosTextWebDemiBold";
		color: $colorTextMain;
		font-size: 14px;
		line-height: 120%;
		margin-bottom: 15px;
		&.active {
			color: $colorRed;
		}
	}
}
