.content-page {
	.content-page-preview {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		padding: 150px 0 120px 0px;
		margin-bottom: 50px;
		.date {
			font-size: 12px;
			color: #fff;
			margin-bottom: 14px;
			display: block;
		}
		h1 {
			font-family: "GolosTextWebDemiBold";
			font-size: 40px;
			line-height: 120%;
			color: #fff;
			margin: 0px;
		}
	}
	.content-page-info {
		h1,h2,h3,h4,p {
			color: $colorTextMain;
		}
		h2,h3,h4 {
			margin-bottom: 25px;
		}
		p {
			margin-bottom: 40px;
		}

	}

	.content-slider {
		margin-bottom: 16px;
		.description {
			display: block;
			font-size: 12px;
			line-height: 120%;
			margin: 0px;
			color: #BEC1C4;

			padding: 33px 0px;
			width: 50%;
		}
		.slick-arrow {
			cursor: pointer;
			width: 40px;
			height: 40px;
			background-color: #F5F5F7;
			border-radius: 4px;

			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			z-index: 2;
			left: unset;
			top: unset;
			right: 0px;
			bottom: 22px;
			i {
				transition: $transitionMain;
				color: #707070;
			}
			&.arrow_right {
			}
			&.arrow_left {

				right: 53px;
				transform: scale(-1, 1);
			}
			&:hover {
				background-color: #004EAE;
				transition: $transitionMain;
				i {
					color: #fff;
					transition: $transitionMain;
				}
			}
		}
	}
}
