// %mt {
// 	margin-top: 0px!important;
// }
// @for $i from 1 through 10 {
// 	.mt-#{$i} {
// 		@extend %mt;
// 		margin-top: 0px + $i!important;;
// 	}
// }
//
// %mr {
// 	margin-right: 0px!important;
// }
// @for $i from 1 through 50 {
// 	.mr-#{$i} {
// 		@extend %mr;
// 		margin-right: 0px + $i!important;;
// 	}
// }
// %mb {
// 	margin-bottom: 0px!important;
// }
// @for $i from 1 through 50 {
// 	.mb-#{$i} {
// 		@extend %mb;
// 		margin-bottom: 0px + $i!important;;
// 	}
// }
// %ml {
// 	margin-left: 0px!important;
// }
// @for $i from 1 through 50 {
// 	.ml-#{$i} {
// 		@extend %ml;
// 		margin-left: 0px + $i!important;;
// 	}
// }
//
//
// %pb {
// 	padding-bottom: 0px!important;
// }
// @for $i from 1 through 50 {
// 	.pb-#{$i} {
// 		@extend %pb;
// 		padding-bottom: 0px + $i!important;;
// 	}
// }

.pt-97 		{ padding-top: 97px; }
.pt-94 		{ padding-top: 94px; }
.pt-82 		{ padding-top: 82px; }
.pt-80 		{ padding-top: 80px; }
.pt-60		{ padding-top: 60px; }
.pt-20 		{ padding-top: 20px; }

.pb-110 	{ padding-bottom: 110px; }
.pb-105 	{ padding-bottom: 105px; }
.pb-100 	{ padding-bottom: 100px; }
.pb-94 		{ padding-bottom: 94px; }
.pb-87		{ padding-bottom: 87px; }
.pb-80 		{ padding-bottom: 80px; }
.pb-70 		{ padding-bottom: 70px; }
.pb-66 		{ padding-bottom: 66px; }
.pb-60 		{ padding-bottom: 60px; }
.pb-50 		{ padding-bottom: 50px; }
.pb-36 		{ padding-bottom: 36px; }
.pb-35 		{ padding-bottom: 35px; }
.pb-32 		{ padding-bottom: 32px; }
.pb-25 		{ padding-bottom: 25px; }
.pb-24 		{ padding-bottom: 24px; }
.pb-20 		{ padding-bottom: 20px; }
.pb-19 		{ padding-bottom: 19px; }
.pb-10 		{ padding-bottom: 10px; }


.mr-12 		{ margin-right: 12px; }

.mb-60 		{ margin-bottom: 60px; }
.mb-38 		{ margin-bottom: 38px; }
.mb-35 		{ margin-bottom: 35px; }
.mb-34 		{ margin-bottom: 34px; }
.mb-30 		{ margin-bottom: 30px; }
.mb-28 		{ margin-bottom: 28px; }
.mb-27 		{ margin-bottom: 27px; }
.mb-26 		{ margin-bottom: 26px; }
.mb-25		{ margin-bottom: 25px; }
.mb-24 		{ margin-bottom: 24px; }
.mb-22 		{ margin-bottom: 22px; }

.ml-24 		{ margin-left: 24px; }
.ml-12 		{ margin-left: 12px; }
